<h1>Whom you would like to say 'thank you' today?</h1>

<ul>
    <li>{{ input value=name insert-newline='reload' }}</li>
    <li>{{ input value=order insert-newline='reload' }}</li>
    <li {{ action "reload" }}> Reload! </li>
</ul>

<ul>
  {{#each model.coworkers as |coworker| }}
    {{#link-to 'dashboard.coworker' coworker}}
        <li>
            <strong>
              ({{coworker.kudos_total_value}})
            </strong>
            {{coworker.fullName}}
            </li>
    {{/link-to}}
  {{else}}
    Nobody here, try again
  {{/each}}
</ul>

{{outlet}}